@use '../../Settings/variables' as *;
@use '../../Settings/responsive_variables';
@use '../../Tools/typography';
@use '../../Tools/mixins';

.a_Input {
   $self: &;

   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   width: 100%;

   label {
      @include typography.h6;
      text-transform: none;
   }

   input,
   textarea {
      border-radius: $border-radius-half;
      border: 1px solid $color-primary;
      padding: 0.75rem 1rem;
      font-family: $font-text;
      @include typography.body;
      width: 100%;
      transition: border-color $animation ease-in-out;

      &:focus {
         outline: none;
         border: 1px solid $color-secondary;
      }

      &:disabled {
         background-color: $color-gray-light;
         color: $color-gray;
         cursor: not-allowed;
      }
   }

   &_booking {
      &-cards {
         display: flex;
         flex-direction: row;
         gap: 1rem;
         overflow-x: auto;
         scrollbar-width: none;
      }

      .date-card-option,
      .time-card-option {
         @include typography.body-bold;

         border: 1px solid $color-primary;
         color: $color-primary;
         border-radius: $border-radius-half;
         padding: 0.5rem 2rem;
         text-align: center;
         cursor: pointer;

         transition: all 0.2s;

         &:hover {
            background: $color-primary;
            color: $color-white;
            border-color: $color-white;
         }

         &.selected {
            background: $color-primary;
            color: $color-white;
            border-color: $color-white;
         }
      }
   }

   &-dog {
      &_image-preview {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: flex-start;
         gap: 1rem;
         overflow: hidden;
         border-radius: $border-radius;

         img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: $border-radius;
            border: 1px solid rgba($color-black, 0.1);
         }
      }

      &_button-change,
      &_button-upload {
         width: max-content;
      }
   }

   @media screen and (min-width: responsive_variables.$screen-s-min) {
      &_booking {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: flex-start;
         gap: 1rem;
         margin-left: 0;

         &-cards {
            flex-wrap: wrap;
            overflow-x: none;
         }
      }

      &-dog {
         margin-left: -10%;

         &_image-preview {
            align-items: flex-end;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            width: 45%;
         }
      }
   }
}