node_modules/
dist/
out/
.tmp/
.cache/
.next

*.env*
*.log

*.tsbuildinfo

.git/
.gitignore
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.override.yml

*.lock
