@use "../Settings/variables" as *;

.l_Header {
   $logo: '.o_Navbar_logo';

   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 1.25rem 0;
   z-index: 100;
   backdrop-filter: blur(8px);
   filter: $shadow;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: $color-white;
   color: $color-primary;

   #{$logo} {
      &-color {
         display: block;
      }

      &-white {
         display: none;
      }
   }

   &-transparent {
      background-color: transparent;
      color: $color-white;

      #{$logo} {
         &-color {
            display: none;
         }

         &-white {
            display: block;
         }
      }
   }
}