@use '../../Settings/variables' as *;
@use '../../Settings/responsive_variables';
@use '../../Tools/typography';
@use '../../Tools/mixins';

.m_Form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1.5rem;
   width: 100%;

   &_navigate {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      margin-top: 2.5rem;

      &-text {
         @include typography.h4;
         text-transform: none;
      }
   }

   &_profile {
      &-save {
         display: none;
      }
   }

   @media screen and (min-width: responsive_variables.$screen-l-min) {
      width: 75%;
   }
}