@use '../../Settings/variables' as *;
@use '../../Settings/responsive_variables';
@use '../../Tools/typography';
@use '../../Tools/mixins';

.m_Modal {
   &_overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color-black, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
      opacity: 0;
      visibility: hidden;
      transition: opacity $animation ease, visibility $animation ease;

      &.show {
         opacity: 1;
         visibility: visible;
         transform: translateY(0);

         .m_Modal_content {
            opacity: 1;
            transform: translateY(0);
         }
      }
   }

   &_content {
      background-color: $color-white;
      border: 2px solid $color-primary;
      padding: 2rem;
      border-radius: $border-radius;
      box-shadow: $shadow;
      position: relative;
      max-width: 32rem;
      width: 90%;
      transform: translateY(-1.5rem);
      opacity: 0;
      transition: transform $animation ease, opacity $animation ease;
   }

   &_close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background: none;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      color: $color-black;
      transition: color $animation ease;

      &:hover {
         color: $color-secondary;
      }
   }

   &_message {
      @include typography.body-bold;
      font-size: 1.25rem;
      padding: 3rem 0;
      text-align: center;


      &.success {
         color: $color-primary;
      }

      &.error,
      &.danger {
         color: $color-secondary;
      }

      &.warning {
         color: $color-black;
      }
   }

   &_actions {
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      margin-top: 1rem;
   }
}