@use '../../Tools/mixins';
@use '../../Tools/typography';
@use '../../Settings/responsive_variables';

.o_ErrorPage {
   @include mixins.padding;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 3rem;
   width: 100%;
   height: 100%;

   &_title {
      @include typography.h1;
      @include mixins.underline;

      margin-top: 50%;
   }

   &_subtitle {
      @include typography.h4;
   }

   &_text {
      @include typography.body-bold;
   }

   &_button {
      width: max-content;
   }

   @media screen and (min-width: responsive_variables.$screen-m-min) {
      &_title {
         margin-top: 8rem;
      }
   }
}