@use "../../Settings/variables" as *;
@use "../../Settings/responsive_variables";
@use "../../Tools/typography";
@use "../../Tools/mixins";

.o_HeroHome {
   width: 100%;
   min-height: 100dvh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: $color-primary;
   padding-top: 5rem;
   position: relative;

   &_content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
   }

   &_logo {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;

      img {
         width: 80%;
         height: auto;
      }
   }

   &_information {
      text-align: center;
      color: $color-white;
   }

   &_title {
      @include typography.h1;

      padding: 0 1rem 1.5rem 1rem;
      border-bottom: 1px solid $color-white;
      max-width: 21.5rem;
   }

   &_subtitle {
      @include typography.h3;
   }

   &_address {
      @include typography.title;
      @include typography.fontSize(16px);

      margin-top: 1rem;
   }

   &_scroll {
      position: absolute;
      bottom: 1.5rem;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;

      i {
         font-size: 2rem;
         color: $color-white;
      }
   }

   @media screen and (min-width: responsive_variables.$screen-m-min) {
      padding-top: 2rem;

      &_logo {
         img {
            width: 575px;
            height: auto;
         }
      }

      &_title {
         max-width: 100%;
      }
   }
}