// Fonts
$font-title: var(--font-bellerose), sans-serif;
$font-text: var(--font-roboto), sans-serif;

// Colors
$color-primary: #1D6980;
$color-secondary: #01B4B8;
$color-tertiary: #00DAC1;
$color-quaternary: #7AF5D6;
$color-quinery: #2F4858;

$color-black: #181818;
$color-white: #FFFFFF;
$color-light: #ddf7f2;
$color-gray: #666666;
$color-gray-light: #F4F5F7;

// Radius
$border-radius-100: 100px;
$border-radius: 8px;
$border-radius-half: 4px;

// Border
$border: 1px solid $color-black;

// Shadow 
$shadow: drop-shadow(0 4px 4px rgba($color-black, 0.25));

// Animation
$animation: 300ms;

// Wrapper
$wrapper: 1512px;